.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    /* width: 30%; */
    padding: 20px 20px;
}

.input-container{
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
}

.display-container{
    border: 2px solid black;
    display: inline-grid;
    grid-template-columns: repeat(50, 10px); 
                        /*number of columns, width of each column */
    grid-auto-rows: 10px;
    /* Set a default size for the rows in a grid: */
}