.card{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgb(35, 52, 110);
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 20px;
    text-align: center;
    background-color: rgb(29, 188, 216);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
    
}

.card img{
    width: 200px;
    padding: 20px 0px 10px;
    cursor: pointer;
}

.card h2, p, img{
    margin: none;
}
