body{
    background-color: aliceblue;
}

.to-do-list{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 5px;
}

.add-btn{
    background-color: rgb(76, 160, 76);
}

.add-btn:hover{
    background-color: rgb(96, 197, 96);
}

.delete-btn{
    background-color: rgba(250, 41, 41, 0.712);
}

.delete-btn:hover{
    background-color: rgba(241, 6, 6, 0.712);
}
.move-btn{
    background-color: rgb(5, 76, 156);
}
.move-btn:hover{
    background-color: rgb(18, 124, 245);
}

input[type="text"]{
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid silver;
    padding: 10px;
    border-radius: 5px;
    color: hsla(231, 80%, 24%, 0.616);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(204, 218, 230);
    margin-bottom: 10px;
    border: 2px solid silver;
    display: flex;
    align-items: center;
}

.text{
    flex: 1; 
    /* shortcut for 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        */
}